body {
  background: black;
  background: -webkit-linear-gradient(white, black);
  background: -o-linear-gradient(white, black);
  background: -moz-linear-gradient(white, black);
  background: linear-gradient(white, black); }

a:hover {
  color: white; }

input, button:hover {
  border: 1px solid red;
  background-color: black;
  padding-left: 3.5rem; }

html {
  font-size: 10px; }

body {
  font: 100% Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: black; }

footer {
  background-color: black;
  text-align: center; }

h1 {
  display: inline-block;
  background: red;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center; }
  h1 em {
    display: block;
    font-size: 2rem;
    font-weight: lighter;
    background: black; }

h2 {
  background: red;
  color: white;
  font-weight: bold;
  font-size: 2rem; }
  h2 em {
    display: inline-block;
    font-size: 2rem;
    font-weight: lighter; }

a {
  color: red; }

footer h2 {
  background: black;
  color: grey;
  font-size: 1em;
  font-style: normal;
  font-weight: lighter; }

footer h3 {
  color: grey;
  font-size: .75em;
  font-style: normal;
  font-weight: lighter; }

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  position: relative; }

header {
  background: url("../images/marvel_bandw1.jpg") center/cover no-repeat;
  overflow: auto;
  min-height: 200px;
  height: 563px;
  box-shadow: 10px 10px 5px #888888; }

form {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  position: relative;
  margin-top: 200px; }

label {
  display: inline-block;
  text-indent: -9999px; }

input {
  outline: none;
  width: 90%;
  height: 30px;
  color: red;
  background: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  background-image: url(../search-assets/search.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 30px; }
  input:focus {
    background-color: black; }

button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  outline: none;
  width: 55px;
  height: 30px;
  background-color: red;
  margin-left: 0;
  display: inline-block;
  position: relative;
  float: left;
  right: -90%;
  top: -30px; }
  button:hover {
    background-color: black;
    color: red;
    padding-left: 0; }

nav {
  background-color: blue;
  display: inline-block;
  width: 20%;
  float: right; }
  nav ul {
    background-color: yellow;
    display: inline;
    width: 18%;
    height: 15px;
    list-style: none; }
    @media (max-width: 743px) {
      nav ul {
        background: url() center cover no-repeat;
        display: block; } }
    nav ul li {
      background-color: #800020;
      display: inline-block; }

img {
  width: 150px;
  height: auto; }

.hidden {
  overflow: hidden;
  height: 0px; }

#content ul {
  background-color: black;
  text-align: center; }
  #content ul li {
    vertical-align: top;
    display: inline-block;
    color: grey;
    margin: 10% 1%;
    position: relative;
    text-align: center;
    background-color: black;
    max-height: 400px;
    overflow: hidden;
    width: 30%; }

a {
  padding-top: 0;
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 400px; }

img {
  width: 100%;
  position: relative; }

.wrapper h2 {
  text-align: center; }
