body {
  background: black;
  background: -webkit-linear-gradient(white, black);
  background: -o-linear-gradient(white, black);
  background: -moz-linear-gradient(white, black);
  background: linear-gradient(white, black); }

a:hover {
  color: white; }

input, button:hover {
  border: 1px solid red;
  background-color: black;
  padding-left: 3.5rem; }

html {
  font-size: 10px; }

body {
  font: 100% Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: black; }

footer {
  background-color: black;
  text-align: center; }

h1 {
  display: flex;
  flex-flow: column nowrap;
  height: 10%;
  background: red;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  width: 200px; }
  h1 em {
    font-size: 2rem;
    font-weight: lighter;
    background: black; }

h2 {
  background: red;
  color: white;
  font-weight: bold;
  font-size: 2rem; }
  h2 em {
    display: inline-block;
    font-size: 2rem;
    font-weight: lighter; }

a {
  color: red; }

footer h2 {
  background: black;
  color: grey;
  font-size: 1em;
  font-style: normal;
  font-weight: lighter; }

footer h3 {
  color: grey;
  font-size: .75em;
  font-style: normal;
  font-weight: lighter; }

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  position: relative; }

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  background: white url("../images/marvel_bandw1.jpg") center/cover no-repeat;
  min-height: 200px;
  height: 563px;
  box-shadow: 10px 10px 5px #888888; }

#search {
  align-self: flex-end;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%; }

form {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: auto; }

label {
  display: inline-block;
  text-indent: -9999px; }

input {
  display: flex;
  flex: 1 1 auto;
  outline: none;
  width: 90%;
  height: 30px;
  color: red;
  background: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  background-image: url(../search-assets/search.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 30px; }
  input:focus {
    background-color: black; }

button {
  flex: 1 1 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  outline: none;
  width: 55px;
  height: 30px;
  background-color: red;
  margin-left: 0; }
  button:hover {
    background-color: black;
    color: red;
    padding-left: 0; }

nav {
  order: 3;
  width: 20%; }
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 30%;
    height: 15px;
    list-style: none; }
    @media (max-width: 760px) {
      nav ul {
        flex-flow: column nowrap;
        background: url(../images/menu.png) center/cover no-repeat;
        margin-right: 5px;
        width: 50px;
        height: 50px;
        text-indent: -9999px; } }
  nav li {
    display: inline-block;
    margin-left: 5px; }

.openMenu {
  text-indent: 0; }
  .openMenu li {
    width: 150px;
    height: 100px;
    background-color: #800020;
    padding: 5px 5px 5px 5px;
    border: 1px solid white;
    text-align: left;
    position: relative;
    right: 100px;
    top: 50px; }

img {
  width: 150px;
  height: auto; }

.hidden {
  overflow: hidden;
  height: 0px; }

#content ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  background-color: black;
  text-align: center; }
  #content ul li {
    background: grey;
    display: flex;
    flex-flow: column wrap;
    color: grey;
    margin: 1% 1%;
    position: relative;
    text-align: center;
    background-color: black; }

a {
  padding-top: 0;
  max-width: 250px; }

img {
  width: 100%; }

.wrapper h2 {
  text-align: center; }

/*
@media (min-width: 900px) {
}

@media (min-width: 580px) {
}

@media (min-width: 500px) {
}
*/
