header,
footer {
  background-color: black; }

h1, nav ul li, #content ul li, #content ul li a {
  display: inline-block; }

body {
  font: 100% Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  background: white; }
  body a {
    color: red; }

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  position: relative; }

h1 {
  background: red;
  color: white;
  font-weight: bold;
  font-size: 30px; }
  h1 em {
    display: block;
    font-size: 20px;
    font-weight: lighter; }

header form {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  position: relative; }
  header form p input {
    width: 90%;
    height: 30px;
    border: 1px solid red;
    background-color: black;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  header form p button {
    width: 30px;
    height: 30px;
    background: url(../search-assets/search.png) center top/cover no-repeat;
    display: inline-block;
    position: relative;
    right: -90%;
    top: -30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }

img {
  width: 150px;
  height: auto; }

nav ul {
  list-style: none;
  float: right;
  clear: both; }
  nav ul li {
    position: relative;
    top: -50px; }

#content ul li {
  margin: 2% 5%;
  position: relative;
  text-align: center; }
  #content ul li a {
    position: relative;
    max-width: 150px; }
    #content ul li a img {
      width: 100%;
      position: relative; }
