html {
    font-size: $font-size;
}


body {
    font: 100% $font-stack;
    font-size: 1.6rem;
    color: $content-color;
    background: $primary-color;
    
}

header,
footer {
    @extend %backgroundColor;
    
}
footer{
    text-align: center;
}

