@mixin autoMargin() {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    position: relative;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    
  
}
