%backgroundColor{
    background-color: $background-color;
}

%display{
    display: inline-block;
}

%hover {
    color: $action-color;
<<<<<<< HEAD
}

%border {
    border: 1px solid $form-color;
    background-color: $background-color;
    padding-left: 1rem;
=======
>>>>>>> 31059d254684cd15fc05baac1d4bcdf81b04061c
}