%backgroundColor{
    background-color: $background-color;
}

%display{
    display: inline-block;
}

%hover {
    color: $action-color;
}

%border {
    border: 1px solid $form-color;
    background-color: $background-color;
    padding-left: 1rem;
}

%form {
    -webkit-appearance: none;
    outline: none;
    box-shadow: none !important;
}