h1 {
    display: flex;
    flex-flow: column nowrap;
    height: 10%;

    background: red;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    
    em {
        font-size: 2rem;
        font-weight: lighter;
        background: $background-color;
    }
}

h2 {
    background: red;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    em {
        display: inline-block;
        font-size: 2rem;
        font-weight: lighter;
    }
}

a {
    color: $link-color;
    &:hover {
        @extend %hover;
    }
}

footer h2 {
    background: $background-color;
    color: $light-font-color;
    font-size: 1em;
    font-style: normal;
    font-weight: lighter;
}

footer h3 {
    color: $light-font-color;
    font-size: .75em;
    font-style: normal;
    font-weight: lighter;
}
