$font-stack: Arial,Helvetica,sans-serif;
$font-size: 10px;

$primary-color: %backgroundGradient;
$content-color: black;
$background-color: black;

$link-color: red;
$visited-color: #800020;
$action-color: white;

$form-font-color: red;
$form-background-color: black;
$form-button-color: red;
$form-width: 90%;
$form-height: 30px;

$radius: 5px;

