$font-stack: Arial,Helvetica,sans-serif;
$font-size: 10px;
$primary-color: white;
$content-color: white;
$background-color: black;
$link-color: red;
$action-color: white;
$form-color: red;
$radius: 5px;