@import "variables.scss";
@import "placeholders.scss";


@mixin autoMargin() {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    position: relative;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    font: 100% $font-stack;
    font-size: $font-size;
    color: $content-color;
    background: $primary-color;
    a {
        color: $link-color;
    }
}

header,
footer {
    @extend %backgroundColor;
}

.wrapper {
    @include autoMargin();
}

h1 {
    @extend %display;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 30px;
    em {
        display: block;
        font-size: 20px;
        font-weight: lighter;
        
    }
}

header {
    form {
        @include autoMargin();
        p input {
            width: 90%;
            height: 30px;
            border: 1px solid $form-color;
            background-color: $background-color;
            color: $content-color;
            @include border-radius($radius);
            
        }
        p button{
            width: 30px;
            height: 30px;
            background: url(../search-assets/search.png) center top / cover no-repeat;
            display: inline-block;
            position: relative;
            right: -90%;
            top: -30px;
            
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            
        }
    }
}

img {
    width: 150px;
    height: auto;
}

nav {
    ul {
        list-style: none;
        float: right;
        clear: both;
        li {
            @extend %display;
            position: relative;
            top: -50px;
            
          
        }
    }
}

#content {
    ul {
        li {
            @extend %display;
            margin: 2% 5%;
            position: relative;
            text-align: center;
            a{
                @extend %display;
                position: relative;
                max-width: 150px;
                
                
                img{
                    width: 100%;
                    position: relative;
                }
                
            }
        }
    }
}
