@import "variables.scss";
@import "placeholders.scss";
@import "mixins.scss";
@import "base.scss";
@import "typography.scss";

.wrapper {
  @include autoMargin();
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background: white url('../images/marvel_bandw1.jpg') center / cover no-repeat;
  min-height: 200px;
  height: 563px;
  box-shadow: 10px 10px 5px #888888;

}

form {
  //@include autoMargin();
  //margin-top: 200px;
  //background-color: brown;

  //display: flex;
  //flex-flow: row wrap;
  //align-self: flex-end;
  //justify-content: flex-end;
  //width: 100%;
  //margin: auto;

}

label {
  display: inline-block;
  text-indent: -9999px;
}

input {
  @include input-form($form-width, $form-height);

  background-image: url(../search-assets/search.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 30px;

}

button {
  @include button($button-width, $button-height);
  display: inline-block;
  position: relative;
  float: left;
  right: -90%;
  top: -30px;
}

nav {
  //flex: 1 1 auto;
  align-self: flex-end;
  ul {
    display: flex;
    flex-flow: row nowrap;
    background-color: yellow;

    width: 20%;
    height: 15px;
    list-style: none;
    @include mq(large) {
      //hide menu and show hamburger icon, until mouseover
      flex-flow: column nowrap;
      background: url(../images/menu.png) center / cover no-repeat;
      margin-right: 5px;
      width: 50px;
      height: 50px;
      text-indent: -9999px;
      &:hover {
        text-indent: 0;
        li {
          width: 70px;
          background-color: #800020;
          padding: 5px 5px 5px 5px;
          border: 1px solid white;
          text-align: left;
          position: relative;
          right: 10px;
          top: 50px;
        }

      }
    }
  }

  li {
    display: inline-block;
  }

}

img {
  width: 150px;
  height: auto;
}

.hidden {
  overflow: hidden;
  height: 0px;
}

#content {
  ul {
    background-color: $background-color;
    text-align: center;

    li {
      vertical-align: top;
      display: inline-block;
      color: $light-font-color;
      margin: 10% 1%;
      position: relative;
      text-align: center;
      background-color: $background-color;
      max-height: 399px;
      overflow: hidden;
      width: 30%;
    }
  }
}

a {
  padding-top: 0;
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 400px;

  &:hover {
    @extend %hover;
  }
}

img {
  width: 100%;
  position: relative;
}

.wrapper h2 {
  text-align: center;
}

@media (min-width: 900px) {
}

@media (min-width: 580px) {
}

@media (min-width: 500px) {
}
