$font-stack: Arial,
Helvetica,
sans-serif;
$primary-color: white;
$content-color: white;
$background-color: black;
$link-color: red;
$form-color: red;
$radius: 5px;


@mixin autoMargin() {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    position: relative;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    font: 100% $font-stack;
    color: $content-color;
    background: $primary-color;
    a {
        color: $link-color;
    }
}

header,
footer {
    background-color: $background-color ;
}

.wrapper {
    @include autoMargin();
}

h1 {
    display: inline-block;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 30px;
    em {
        display: block;
        font-size: 20px;
        font-weight: lighter;
        
    }
}

header {
    form {
        @include autoMargin();
        p input {
            width: 90%;
            height: 30px;
            border: 1px solid $form-color;
            background-color: $background-color;
            color: $content-color;
            @include border-radius($radius);
            
        }
        p button{
            background: url(../search-assets/search.png) center;
            display: inline-block;
            position: relative;
            right: -90%;
            top: -30px;
            
        }
    }
}

img {
    width: 150px;
    height: auto;
}

nav {
    ul {
        list-style: none;
        float: right;
        clear: both;
        li {
            display: inline-block;
            position: relative;
            top: -50px;
            
          
        }
    }
}

#content {
    ul {
        li {
            display: inline-block;
            margin: 10% 5%;
            position: relative;
            text-align: center;
            a{
                display: inline-block;
                position: relative;
                max-width: 150px;
                
                
                img{
                    width: 100%;
                    position: relative;
                }
                
            }
        }
    }
}
