$font-stack: Arial,Helvetica,sans-serif;
$font-size: 10px;
$light-font-color: grey;

$primary-color: white;
$content-color: black;
$background-color: black;
$small-background-color: transparent;


$link-color: red;
$visited-color: #800020;
$action-color: white;
$action-background-color: red;

$nav-background-color: #800020;

$form-font-color: red;
$form-background-color: black;
$form-button-color: red;
$form-width: 90%;
$form-height: 30px;

$button-width: 55px;
$button-height: 30px;

$radius: 5px;
