html {
    font-size: $font-size;
}

body {
    font: 100% $font-stack;
    font-size: 1.6rem;
    color: $content-color;
    @extend %backgroundGradient;
}

footer{
    background-color: $background-color;
    text-align: center;
}

img {
    width: 300px;
}